
.ant-menu-inline .ant-menu-item:after{
  border-right: 3px solid #154c79;
}
.ant-badge-count {
  background: #154c79;
}

.ant-menu-item {
  margin: 0;
  font-weight: 600;
}

.ant-menu-item:hover .ant-menu-title-content {
  color: #154c79;
}

.ant-menu-item-selected,
.ant-menu-item:active {
  background-color: #e8edf2 !important;
  color: #154c79;
}

.ant-menu-submenu-selected {
  color: #154c79;
}

.ant-menu-title-content:hover,
.ant-menu-item-selected,
.ant-menu-light .ant-menu-item-active {
  color: #154c79;
}