*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.main-container{
  padding: 0 50px;
}
.text-default{
  color: #828282;
}
.title-header{
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 20px;
  font-weight: 500;
}
.link {
  color: #828282 !important;
}
.link:hover {
  color: #000 !important;
}